*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.2s;
}

#root {
  min-height: 100vh;
}
